
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                          <h1>Equations</h1>
                              {{numbers}}
                          <!-- <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                                ng-model="numbers" jqyoui-draggable="{animate:true}"
                                ng-hide="!numbers.enterNum">{{numbers.enterNum}}</div>

      <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="numbersBox" jqyoui-droppable style='height:50px;'>
        <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="numbersBox" jqyoui-draggable ng-hide="!numbersBox.enterNum">{{numbersBox.enterNum}}</div>
      </div> -->


    </div>
  </div>
</div>
